{% load pwa %}
{% load static %}

{% progressive_web_app_meta %}

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#5a07a8" />

<meta name="description" content="This is a small webapp written to track the number of kilojoules consumed during a day.">

<link rel="stylesheet" href="{% static 'regular_pages/css/base.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
<link rel="stylesheet" href="{% static 'regular_pages/css/vendor/raster.css' %}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% include "base_subsections/head_css_js.html" %}
