
<nav>
  <grid columns="5" columns-s="3">

    <c span-s=3 span=1>
      <a href="{% url 'index' %}">
        <h1>KJ Counter</h1>
      </a>
    </c>

    <c span=3 span-s=0></c>

    <c span-s=3>
      <a href="#" class='dropbtn' onclick="myFunction()" style="width 24px;">
        <i class="material-icons" style="color:">menu</i>
      </a>
      <div id="myDropdown" class="dropdown-content">
        <ul class="dropdown-links">
          <li class="dropdown-link">
            <a href="{% url 'index' %}">Homepage</a>
          </li>
          <li class="dropdown-link">
            <a href="{% url 'all_meals' %}">List of All Meals</a>
          </li>
          <li class="dropdown-link">
            <a href="{% url 'edit_ingredients' %}">Edit Ingredients</a>
          </li>
          <li class="dropdown-link">
            item 4
          </li>
          <li class="dropdown-link">
            item 5
          </li>
        </ul>
      </div>
    </c>

  </grid>
</nav>
